<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Welcome to TuneHub - Home</title>
		<link rel="stylesheet" th:href="@{/css/homestyle.css}">
	</head>
	<body>
	 <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">TuneHub</a></li>
                <li><a href="#">About</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="registration">Register</a></li>
             </ul>
        </nav>
    </header>
    <br/>

		<div class="container">
			<h1>TuneHub Says Hi!</h1>
			<img alt="music" src="https://raw.githubusercontent.com/BasavarajAili1/tunehub_assets/main/music.jpg">
			<a href="login" id="login">Login</a>
			<a href="registration" id="reg">Register</a>
		</div>
	</body>
	
	
</html>