<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Register</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" th:href="@{/css/registration.css}">
	</head>
	<body>
        <div class="circle"></div>
		
		<div class="card">
            <div class="logo">
                <i class="bx bx-music bx-burst bx-rotate-90"></i>
            </div>
            <h2>Create Account</h2>

			<form action="register" method="post" class="form">
				<input type="text"  name="username" id="username" placeholder="Name" required/>
				
				<input type="email" name="email" id="email" placeholder="Email" required/>
				
				<input type="password" name="password" id="password" placeholder="Password" required/>
				
				<label for="gender">Gender : </label>
				<input type="radio" id="male" name="gender" value="male" />
				<label for="male">Male</label>
				<input type="radio" id="female" name="gender" value="female" />
				<label for="female">Female</label>
				<input type="radio" id="other" name="gender" value="other" />
				<label for="other">Other</label>
				
				<label for="role">Role : </label>
				<input type="radio" id="admin" name="role" value="admin"/>
				<label for="admin">Admin</label>
				<input type="radio" id="customer" name="role" value="customer"/>
				<label for="customer">Customer</label>
				
				<textarea name="address" placeholder="Address"></textarea>
				
                <button type="submit">SIGN UP</button>
				
			</form>
		</div>
	</body>
	
	
</html>